body{
    margin: 0;
}

.hidden{
    display: none !important;
}

.win{
    color: white;
    font-size: 8em;
}


.winner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vh;
}